@font-face {
    font-family: 'BCcardL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.1/BCcardL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'BCcardL';
    font-size: 18px;
}

button{
    font-family: 'BCcardL';
}
